@page
@model IndexModel
@{
    ViewData["Title"] = "Shipments";
}

<div>
	<h1 class="display-4">Shipments</h1>
    
	<div class="float-right">
		<a class="btn btn-primary" asp-page="/Shipments/Create">Create New</a>
	</div>
	
	<div class="mt-3">
		<ul class="nav nav-tabs" id="shipmentListTabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="home" aria-selected="true">New</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="profile" aria-selected="false">Active</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="complete-tab" data-toggle="tab" href="#complete" role="tab" aria-controls="contact" aria-selected="false">Complete</a>
			</li>
		</ul>
		<div class="tab-content" id="shipmentLists">
			<div class="tab-pane fade show active"
				id="new"
				role="tabpanel"
				aria-labelledby="new-tab">
				
				<table class="table table-responsive">
					<thead>
					<tr>
						<th>Id</th>
						<th>Origin</th>
						<th>Destination</th>
						<th>Ready</th>
						<th>Status</th>
						<th></th>
					</tr>
					</thead>
                    <tbody>
                        @foreach (var shipment in Model.NewShipments)
                        {
	                        <tr>
								<td><a asp-page="/Shipments/" asp-route-id="@shipment.Identifier">@shipment.Identifier</a></td>
								<td>@($"{shipment.Shipper.Address.City}, {shipment.Shipper.Address.StateAbbreviation}")</td>
								<td>@($"{shipment.Consignee.Address.City}, {shipment.Consignee.Address.StateAbbreviation}")</td>
								<td>@($"{shipment.ReadyWindow.Date:yyyy-MM-dd} between {shipment.ReadyWindow.Start} and {shipment.ReadyWindow.End}")</td>
								<td>@shipment.Status</td>
							</tr>
                        }
                    </tbody>
				</table>
			</div>
			<div class="tab-pane fade"
				id="active"
				role="tabpanel"
				aria-labelledby="active-tab">
				Active Shipments
			</div>
			<div class="tab-pane fade"
				id="complete"
				role="tabpanel"
				aria-labelledby="complete-tab">
				Completed Shipments
			</div>
		</div>
	</div>
</div>
