@page
@using EasyDdd.Core
@model EasyDdd.Web.Pages.Shipments.SpotlightModel
@{
	ViewData["Title"] = "Shipment Spotlight";
}

<div class="row">
	<div class="col-md-6">
		<h1 class="display-4">Shipment Spotlight</h1>
	</div>
	
	<div class="col-md-6 d-flex flex-row-reverse mt-2">
		@if (Model.Shipment.Status <= ShipmentStatus.Rated)
		{
			<div class="p-2"><a asp-page="/shipments/rate" asp-route-shipmentid="@Model.Shipment.Identifier" class="btn btn-primary">Rate Shipment</a></div>
		}
	
		@if (Model.Shipment.Status == ShipmentStatus.Rated)
		{
			<div class="p-2"><a asp-page="/shipments/dispatch" asp-route-shipmentid="@Model.Shipment.Identifier" class="btn btn-primary">Dispatch Shipment</a></div>
		}
	
		@if (Model.Shipment.Status >= ShipmentStatus.Dispatched && Model.Shipment.Status < ShipmentStatus.Delivered)
		{
			<div class="p-2"><a asp-page="/shipments/history" asp-route-shipmentid="@Model.Shipment.Identifier" class="btn btn-primary">History</a></div>
		}
	</div>
</div>

<div class="row mt-4">
	<div class="col-md-4">
		<h3>Identifier</h3>
		@Model.Shipment.Identifier
	</div>
    
	<div class="col-md-3">
		<h3>Status</h3>
		@Model.Shipment.Status.Description
	</div>
	
	<div class="col-md-5">
		<h3>Ready Window</h3>
		@($"{Model.Shipment.ReadyWindow.Date:MM/dd/yyyy} between {Model.Shipment.ReadyWindow.Start:t} and {Model.Shipment.ReadyWindow.End:t}")
	</div>
</div>

<div class="row mt-4">
	<div class="col-md-6">
		<h3>Latest Tracking Event</h3>
	</div>
</div>
@{
	var latestTrackingEvent = Model.Shipment.TrackingHistory.LastOrDefault();
	if (latestTrackingEvent is null)
	{
		<div class="row">
			<div class="col-md-6">
				<span><i>Shipment does not have any tracking events yet.</i></span>
			</div>
		</div>
	}
	else
	{
		<div class="row">
			<div class="col-md-3">
				<label><b>Type</b></label><br/>
				@latestTrackingEvent.Type.Description
			</div>
			
			<div class="col-md-3">
				<label><b>Comments</b></label><br/>
				@latestTrackingEvent.Comments
			</div>
			
			<div class="col-md-2">
				<label><b>Occurred</b></label><br/>
				@($"{latestTrackingEvent.Occurred:MM/dd/yyyy hh:mm tt}")
			</div>
			
			<div class="col-md-2">
				<label><b>Created By</b></label><br/>
				@latestTrackingEvent.CreatedBy
			</div>
			
			<div class="col-md-2">
				<label><b>Created At</b></label><br/>
				@($"{latestTrackingEvent.CreatedAt:MM/dd/yyyy hh:mm tt}")
			</div>
		</div>
	}
}

<div class="row mt-4">
	<div class="col-md-6">
		<h3>Rate Details</h3>
	</div>
</div>

@if (Model.Shipment.CarrierRate is null)
{
	<div class="row">
		<div class="col-md-6">
			<span><i>Shipment has not been rated yet.</i></span>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-md-3">
			<label><b>Carrier</b></label><br />
			@Model.Shipment.CarrierRate.Carrier.Name
		</div>
		
		<div class="col-md-3">
			<label><b>Fuel Charge</b></label><br />
			@Model.Shipment.CarrierRate.FuelCharge.ToString("C")
		</div>

		<div class="col-md-3">
			<label><b>Discount Amount</b></label><br />
			@Model.Shipment.CarrierRate.DiscountAmount.ToString("C")
		</div>
		
		<div class="col-md-3">
			<label><b>Total</b></label><br />
			@Model.Shipment.CarrierRate.Total.ToString("C")
		</div>
	</div>
}

<div class="row mt-4">
	<div class="col-md-6">
		<h3>Dispatch Info</h3>
	</div>
</div>

@if (Model.Shipment.DispatchInfo is null)
{
	<div class="row">
		<div class="col-md-6">
			<span><i>Shipment has not been dispatched yet.</i></span>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-md-3">
			<label><b>Dispatch Number</b></label><br/>
			@Model.Shipment.DispatchInfo.DispatchNumber
		</div>
		
		<div class="col-md-3">
			<label><b>Pickup Number</b></label><br/>
			@Model.Shipment.DispatchInfo.PickupNumber
		</div>
		
		<div class="col-md-3">
			<label><b>Reference Number</b></label><br/>
			@Model.Shipment.DispatchInfo.ReferenceNumber
		</div>
		
		<div class="col-md-3">
			<label><b>Dispatched On</b></label><br/>
			@($"{Model.Shipment.DispatchInfo.DispatchDateTime:MM/dd/yyyy HH:mm tt}")
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-12">
			<label><b>Pickup Note</b></label><br/>
			@Model.Shipment.DispatchInfo.PickupNote
		</div>
	</div>
}


<div class="row mt-4">
	<div class="col-md-6">
		<h3>Shipper</h3>
		<address>
			@Model.Shipment.Shipper.Address.Line1<br />
			@if (!string.IsNullOrWhiteSpace(Model.Shipment.Shipper.Address.Line2))
			{
				@Model.Shipment.Shipper.Address.Line2<br />
			}

			@($"{Model.Shipment.Shipper.Address.City}, {Model.Shipment.Shipper.Address.StateAbbreviation} {Model.Shipment.Shipper.Address.PostalCode}")
		</address>
        
		<div class="row">
			<div class="col-md-4">
				<label><b>Contact Name</b></label><br />
				@Model.Shipment.Shipper.Contact.Name
			</div>
			<div class="col-md-3">
				<label><b>Phone</b></label><br />
				@Model.Shipment.Shipper.Contact.Phone
			</div>
			<div class="col-md-4">
				<label><b>Email</b></label><br />
				@Model.Shipment.Shipper.Contact.Email
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h3>Consignee</h3>
		<address>
			@Model.Shipment.Consignee.Address.Line1<br />
			@if (!string.IsNullOrWhiteSpace(Model.Shipment.Consignee.Address.Line2))
			{
				@Model.Shipment.Consignee.Address.Line2<br />
			}

			@($"{Model.Shipment.Consignee.Address.City}, {Model.Shipment.Consignee.Address.StateAbbreviation} {Model.Shipment.Consignee.Address.PostalCode}")
		</address>
		
		<div class="row">
			<div class="col-md-4">
				<label><b>Contact Name</b></label><br />
				@Model.Shipment.Consignee.Contact.Name
			</div>
			<div class="col-md-3">
				<label><b>Phone</b></label><br />
				@Model.Shipment.Consignee.Contact.Phone
			</div>
			<div class="col-md-4">
				<label><b>Email</b></label><br />
				@Model.Shipment.Consignee.Contact.Email
			</div>
		</div>
	</div>
</div>

<div class="mt-4">
	<h3>Details</h3>
</div>

<table class="table table-responsive-md">
	<thead>
	<tr>
		<th>Weight</th>
		<th>HU</th>
		<th>Class</th>
		<th>Packaging</th>
		<th>Description</th>
		<th>Hazardous?</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var detail in Model.Shipment.Details)
	{
		<tr>
			<td>@detail.Weight</td>
			<td>@detail.HandlingUnitCount</td>
			<td>@detail.Class</td>
			<td>@detail.PackagingType</td>
			<td>@detail.Description</td>
			<td>
				@if (detail.IsHazardous)
				{
					<span>Yes</span>
				}
				else
				{
					<span>No</span>
				}
			</td>
		</tr>
	}
	</tbody>
</table>

<div class="mt-4"><i>@($"Created on {Model.Shipment.CreatedAt.ToDateTimeUtc():f} (GMT) by {Model.Shipment.CreatedBy}")</i></div>